.mat-tab-group {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.mat-tab-label {
    cursor: pointer;
}

.tab{
    margin-left: 44px;
}

.tablink {
    color: black;
    float: left;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 17px;
    text-align: center;
    width: 25%;
    height: 10%;
}

.tablink.active {
    border-bottom: 3px solid #007bff;
}
