<div class="content-wrapper">

    <h2>NRG ERP is a product launch announcement?
    </h2>
    <p>

            Dear Team

            The new ERP is finally yet to come here!
            
            What makes the ERP different is Save/Manage Your Data

            You can use your ERP directly from our Website by register.
            
            Produt Launch : 01-Jan-2020
            
            By
            NRG
            
            
        </p>

    <div class="line"></div>

</div>
