<!-- header start -->
  <mat-toolbar color="warn" style="background-color: #182A36;">
  <mat-toolbar-row style="height: 80px;">

  <div class=" col-1 col-lg-1">
  <!--  <button type="button" aria-label="Toggle sidenav" mat-icon-button 
    (click)="drawer.toggle()" color="primary" id="outline-none">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button> -->

    <button id="outline-none" mat-icon-button color='primary' (click) ='sidenav.toggle()'class ='toogleSidenav'[ngClass]="showToggle">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

  </div>

  <div class="col-md-2 col-2 col-lg-1">
    <span>
        <img src="./assets/images/nrg_logo.png" id="nrg-logo-paddding" [routerLink]="['/landingpage']"/>
    </span>
  </div>
  <div class="col-md-5 col-4 col-lg-5">
    <input type="text" [(ngModel)]="searchText" autocomplete="on" 
    placeholder="&#xf002; search here" class="searchicon"/>
        
</div>


  <div class="col-lg-2"></div>

  <div class="col-md-5 col-4 col-lg-2">
      <div class="row">
        <div id="user-img1">
            <i class="fa fa-cog" aria-hidden="true" id="icon-color"></i>
          </div>
          <div id="user-img2">
            <i [routerLink]="['/login']" class="fa fa-power-off" aria-hidden="true" id="icon-color">   </i>
            </div>
       </div>
     </div>

  <div class="col-1 col-lg-2">
      <div class="dropdown">
          <div class="dropbtn icons btn-right showLeft" (click)="showDropdown()">
              <div id="user-img"> 
                  <img src="./assets/images/user.png">
               </div>
          </div>
          <div id="myDropdown" class="dropdown-content">
              <div id="user-imag"> 
                  <img src="./assets/images/user.png" style="margin-left: 105px;">
               </div>
               <br/>
               <div id="div-details">
                  <h2 id="black-color">Hendry</h2>
                  <label style="margin-left: -25px;">General Manager</label>
              </div>
          </div>
     </div>
</div>



  </mat-toolbar-row>
</mat-toolbar>
<!-- header end -->
<br/><br/>

<mat-sidenav-container class="example-container">
  <!-- <mat-sidenav #drawer mode="side" opened role="navigation"> -->
    <mat-sidenav class="sidenav" #sidenav [mode]="mode" [opened]="openSidenav" >
    <mat-nav-list style="width: 250px;margin-top: 25px;">
      <ng-container *ngFor="let item of menuItems let i=index">
          <mat-list-item  class="white-hover">  
         <a mat-list-item      style="font-family:'Lato',Georgia,Arial,sans-serif;font-size: medium;"
          routerLink= {{item.pageName}} > {{item.name}}</a>
             <mat-icon mat-list-icon>
              
               <img width="20" height="20" src={{menuItemsIcons[i].name}} />

             </mat-icon> 


            </mat-list-item>
      </ng-container>

    </mat-nav-list>
  
  
  </mat-sidenav>
  <mat-sidenav-content class="content" style="background: #245C81">


<!-- <div *ngIf="notSelected"> -->
    <div *ngIf="route.firstChild.children.length === 0">

        <h2>NRG ERP is a product launch announcement?</h2>
        Dear Team
    
        The new ERP is finally yet to come here!
        
        What makes the ERP different is Save/Manage Your Data
    
        You can use your ERP directly from our Website by register.
        
        Product Launch : 01-Jan-2020
        
        By
        NRG
    </div>
    
    <br/>


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

